/* 
 * CSS style file for Ranvier demo.
 */

@import url("/docutils-style.css");
@import url("/project.css");

div#project-header {
  background-image: url("/ranvier/etc/header-fxt-loft-door.jpg");
  background-color: black;
}

div#project-header a:visited {
  text-decoration: none;
}

div#blurb-container { 
  text-align: center;
}

#blurb { 
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: thin solid gray;
  font-size: smaller;
  font-style: italic;
}

ul li { 
  margin-top: 10px;
}

a {
  font-weight: bold;
}

p.docstring {
  margin-left: 2em;
}

table#coverage-report {
  border-collapse: collapse;
}

table#coverage-report td {
  padding-left: 2em;
  padding-right: 2em;
  border: thin solid black;
}

table#coverage-report td.cov-resid {
  font-family: monospace;
  font-size: larger;
}

table#coverage-report td.cov-fail {
  background-color: #F66;
}

table#coverage-report td.cov-success {
  background-color: #6F6;
}

table#coverage-report td.cov-ignore {
  background-color: #DDD;
}

table#coverage-report thead {
  background-color: #EEE;
  border-bottom: medium solid black;
}

#foot-note {
  font-size: small;
  text-align: center;
}
